<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="This is website to control PID.">
  
    <!-- iOS meta tags & icons -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Control PID">
    <title>Controle PID</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="icon" href="favicon.ico?v=1.1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <section class="secInfo">
            <ul>
                <small id="smalTemperatura">
                    Temperatura
                </small>
                <h1 id="ultimaTemperatura">
                    --
                </h1>
            </ul>
            <br>
            <ul>
                <div class="slider">
                    <div class="show-value" id="show-value-kp">
                        <span id="current-value-kp"></span>
                    </div>
                    <input id="custom-slider-kp" type="range" class="constRange" value="10.0" min="0.0" max="10.0" step=".1"
                    onchange="sendKp(this.value);">
                </div>
            </ul>
            <ul>
                <div class="slider">
                    <div class="show-value" id="show-value-ki">
                        <span id="current-value-ki"></span>
                    </div>
                    <input id="custom-slider-ki" type="range" class="constRange" value="5.0" min="0.0" max="10.0" step=".1"
                    onchange="sendKi(this.value);">
                </div>
            </ul>
            <ul>
                <div class="slider">
                    <div class="show-value" id="show-value-kd">
                        <span id="current-value-kd"></span>
                    </div>
                    <input id="custom-slider-kd" type="range" class="constRange" value="5.0" min="0.0" max="10.0" step=".1"
                    onchange="sendKd(this.value);">
                </div>
            </ul>
        </section>

        <!-- <canvas id="myChart"></canvas> -->

        <section class="secSlicesTemp">
            <input class="range rangeVertical" type="range" name="" value="27.5" min="27.5" max="77.5" step=".1"
            id="valueTemp" onchange="rangeSlideTemp(this.value); sendTemp(this.value);" onmousemove="rangeSlideTemp(this.value);" onTouchMove="rangeSlideTemp(this.value)">
            <p class="number" id="rangeValueTemp">
                27.5C
            </p>
        </section>
        <section class="secSlicesCol">
            <input class="rangeCol rangeVertical Cool" type="range" name="" value="0" min="0" max="100"
            id="valueCol" onchange="rangeSlideCol(this.value); sendCool(this.value);" onmousemove="rangeSlideCol(this.value);" onTouchMove="rangeSlideCol(this.value)">
            <p class="number numberCol" id="rangeValueCol">
                0%
            </p>
        </section>
        <section class="sectionDetails">
            <img src="/icontemp.png" width="25" height="25" class="imgs">
            <div class="detailsBox">
                <p class="details">
                    Temperatura
                </p>
                <p class="smallDetails">
                    Defina a Temperatura do sistema.
                </p>
            </div>
            <img src="/iconcooler.png" class="imgs imgCooler">
            <div class="detailsBox boxCooler">
                <p class="details">
                    Cooler
                </p>
                <p class="smallDetails">
                    Aletere a velocidade do Cooler.                
                </p>
            </div>
        </section>
        <section class="secEnergy">
            <p class="numberEnergy" id="numberEnergy">
                0%
            </p>
            <img src="/iconenergy.png" width="20" height="20" class="iconEnergy">
            <div class="discreteProgress" id="mainProgress">
            </div>
        </section>
    </div>
    <script type="text/javascript">

        document.getElementById("custom-slider-kp").addEventListener("input", function(event){
            let value = event.target.value;
            document.getElementById("current-value-kp").innerText = Number(value).toFixed(1).toString() + "kp";
            document.getElementById("current-value-kp").style.left = `${value*7}%`
        })

        document.getElementById("custom-slider-ki").addEventListener("input", function(event){
            let value = event.target.value;
            document.getElementById("current-value-ki").innerText = Number(value).toFixed(1).toString() + "ki";
            document.getElementById("current-value-ki").style.left = `${value*7}%`
        })

        document.getElementById("custom-slider-kd").addEventListener("input", function(event){
            let value = event.target.value;
            document.getElementById("current-value-kd").innerText = Number(value).toFixed(1).toString() + "kd";
            document.getElementById("current-value-kd").style.left = `${value*7}%`
        })

        function rangeSlideTemp(value){
            document.getElementById('rangeValueTemp').innerHTML = Number(value).toFixed(1) + "C";
        }
        function rangeSlideCol(value){
            document.getElementById('rangeValueCol').innerHTML = value + "%";
        }

        function sendTemp(value){
            socket.emit('sendTemperatura', value);
        }
        function sendCool(value){
            socket.emit('sendCooler', value);
        }

        function sendKp(value){
            socket.emit('sendKp', value);
        }

        function sendKi(value){
            socket.emit('sendKi', value);
        }

        function sendKd(value){
            socket.emit('sendKd', value);
        }

        var socket = io.connect();
        socket.on('userCount', function(data){
            console.log("Usuários Conectados: " + data.userCount);
        })
        socket.on('data', function(data){

            console.log(data);

            document.getElementById("current-value-kp").innerText = Number(data.changePSKp).toFixed(1).toString() + "kp";
            document.getElementById("current-value-kp").style.left = `${data.changePSKp*7}%`

            document.getElementById("current-value-ki").innerText = Number(data.changePSKi).toFixed(1).toString() + "ki";
            document.getElementById("current-value-ki").style.left = `${data.changePSKi*7}%`
            
            document.getElementById("current-value-kd").innerText = Number(data.changePSKd).toFixed(1).toString() + "kd";
            document.getElementById("current-value-kd").style.left = `${data.changePSKd*7}%`

            rangeSlideCol(data.changePSCooler);
            document.getElementById('valueCol').value = data.changePSCooler;
            rangeSlideTemp(data.changePSTemperatura);
            document.getElementById('valueTemp').value = Number(data.changePSTemperatura).toFixed(1);

            document.getElementById("mainProgress").style.backgroundPosition = `-${data.PID/255*100}%`

            document.getElementById('ultimaTemperatura').textContent = data.ultimaTemperatura + " °C";


        })

        socket.on('PSPID', function(data){
            console.log("PSPID");
            document.getElementById("mainProgress").style.backgroundPosition = `-${data.PID/255*100}%`
            document.getElementById('numberEnergy').textContent = `${Number(data.PID/255*100).toFixed(1)}%`;

        })
        socket.on('ultimaTemperatura', function(data){
            console.log("ultimaTemperatura");
            console.log(data);
            document.getElementById('ultimaTemperatura').textContent = data.ultimaTemperatura + " °C";
        })
        socket.on('changePSTemperatura', function(data){
            console.log("change temperatura");
            console.log(data.changePSTemperatura);
            rangeSlideTemp(data.changePSTemperatura);
            document.getElementById('valueTemp').value = Number(data.changePSTemperatura).toFixed(1);
        })
        socket.on('changePSCooler', function(data){
            console.log("change changePSCooler");
            console.log(data.changePSCooler);
            rangeSlideCol(data.changePSCooler);
            document.getElementById('valueCol').value = data.changePSCooler;
        })
        socket.on('changePSKp', function(data){
            document.getElementById("current-value-kp").innerText = Number(data.changePSKp).toFixed(1).toString() + "kp";
            document.getElementById("current-value-kp").style.left = `${data.changePSKp*7}%`
        })
        socket.on('changePSKi', function(data){
            document.getElementById("current-value-ki").innerText = Number(data.changePSKi).toFixed(1).toString() + "ki";
            document.getElementById("current-value-ki").style.left = `${data.changePSKi*7}%`
        })
        socket.on('changePSKd', function(data){
            document.getElementById("current-value-kd").innerText = Number(data.changePSKd).toFixed(1).toString() + "kd";
            document.getElementById("current-value-kd").style.left = `${data.changePSKd*7}%`
        })



        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
                
    </script>   
</body>
</html>